.buttonNew {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
    background: var(--color-secondary);
}

.buttonNew img {
    margin-left: 20px;
    height: 20px;
}

.buttonNew p {
    margin-left: 10px;
    flex: 1;
    font-size: 2rem;
    color: var(--color-text-secondary);
}